@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --font-family: 'Roboto', sans-serif;
    --primary-color:#F5E9CF;
    --bg-color:#4D455D ;
}

body{
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
}
h1{
    font-size: 4em;
    font-weight: 200;
}
h3{
    font-size: 2em;
    font-weight: 200;
    margin-top: 25px;
}
.mensagem{
    font-size: 1.5em;
    margin-top: 50px;
}
.box{
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 4em;
    padding: 15px;
    margin: 25px;
}